$background-color: #f5f5f4;
$font-color-main: #181818;
$font-color-grey: #787878;
$color-white: #ffffff;
$color-button: #9cc91c;
$arrow: #454545;


@custom-media --large-viewport (min-width: 1600px);

